# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# ----------------------
# Virtual Environment
# ----------------------
.venv/
venv/
env/

# ----------------------
# Logs
# ----------------------
logs/
*.log

# ----------------------
# Data (raw/interim/processed)
# ----------------------
data/

# ----------------------
# Models
# ----------------------
models/
*.pkl
*.joblib

# ----------------------
# Jupyter Notebook
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Environment Variables
# ----------------------
.env

# ----------------------
# Mac System Files
# ----------------------
.DS_Store

# ----------------------
# DVC
# ----------------------
.dvc/cache/
.dvc/tmp/

# ----------------------
# Reports / Metrics
# ----------------------
reports/
*.json

# ----------------------
# VS Code
# ----------------------
.vscode/

# ----------------------
# Build / Distribution
# ----------------------
build/
dist/
*.egg-info/